<div class="row-fluid">
  <div class="span12">
	<h1>Novo Cliente</h1>
  </div>
  <div class="span12">
	<%= render 'form' %>
  </div>
  <div class="span12">
	<%= link_to 'Voltar', customers_path, :class => 'btn btn-warning'  %>
  </div>
</div>





