<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @category_product.nome %>
</p>


<%= link_to 'Edit', edit_category_product_path(@category_product) %> |
<%= link_to 'Voltar', category_products_path, :class => 'btn btn-warning' %>
